<!DOCTYPE html>
<html>
<head>
    <title>网站关闭访问</title>
</head>
<body>
<div class="container" style="color: #ff695f;text-align: center;padding-top: 200px;font-size: 20px">
    网站已关闭访问！
</div>
</body>
</html>