<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
</head>
<body>
<div class="container">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div style="text-align: center">
            <h4>用户注册</h4>
        </div>
        <div class="form-group">
            <label for="input1" class="col-sm-2 control-label"><span class="text-danger">*</span>昵称：</label>
            <div class="col-sm-10">
                <input type="text" name="nickName" class="form-control" id="input1" placeholder="请输入昵称" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="input2" class="col-sm-2 control-label"><span class="text-danger">*</span>邮箱：</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="input2" placeholder="请输入email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="input3" class="col-sm-2 control-label"><span class="text-danger">*</span>密码：</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" minlength="6" id="input3" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <label for="input4" class="col-sm-2 control-label">姓名：</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="input4" placeholder="请输入姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="input4" class="col-sm-2 control-label">手机：</label>
            <div class="col-sm-10">
                <input type="text" name="phone" class="form-control" id="input4" placeholder="请输入手机" maxlength="11"
                       pattern="^(0|86|17951)?1[0-9]{10}"
                       oninvalid="setCustomValidity('请输入11位手机号');">
            </div>
        </div>
        <div class="form-group">
            <label for="input5" class="col-sm-2 control-label">头像：</label>
            <div class="col-sm-10">
                <input type="file" name="headPortrait" class="form-control" id="input5" placeholder="请输入头像">
            </div>
        </div>
        <div class="form-group">
            <label for="input6" class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio1" value="MAN" checked> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio2" value="FEMALE"> 女
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio3" value="SECRECY"> 保密
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="input7" class="col-sm-2 control-label">联系地址：</label>
            <div class="col-sm-10">
                <input type="text" name="address" class="form-control" id="input7" placeholder="请输入联系地址">
            </div>
        </div>
        <div class="form-group">
            <label for="input8" class="col-sm-2 control-label">QQ：</label>
            <div class="col-sm-10">
                <input type="text" name="qq" class="form-control" id="input8" placeholder="请输入qq">
            </div>
        </div>
        <div class="form-group">
            <label for="input9" class="col-sm-2 control-label">生日：</label>
            <div class="col-sm-10">
                <input type="date" name="birthday" class="form-control" id="input9" placeholder="请输入生日">
            </div>
        </div>
        <div class="form-group">
            <label for="input10" class="col-sm-2 control-label">介绍：</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="introduction" rows="2" id="input10" placeholder="请输入一段介绍"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>